* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:    Roboto, sans-serif;
}

.first-section {
    padding: 0px 150px 120px;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-logo {
    color: #f9faf8;
    font-size: 24px;
}

.right-links ul {
    padding: 0;
    margin:0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header-link, .body-para {
    color: #efe7eb;
    font-size: 18px;
}

.body {
    display: flex;
    justify-content: space-between;
}

.left-item  {
    width: 475px;
}

.right-item { 
    width: 500px;
}

.body-header {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

.left-item button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 15px;
    font-weight: 900;
    padding: 7px 30px;
    border-radius: 8px;
    border: none;
}

.right-item {
    background-color: gray;
}

.second-section h1 {
    text-align: center;
    font-size: 36px;
    color:#1f2937;
    margin: 48px 0px;
}

.image-section {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.image-section img {
    border: 4px solid #3882f6;
    width: 170px;
    height: 170px;
    border-radius: 18px;
}

.image-section p {
    text-align: center;
    color: rgb(87, 82, 82);
    font-weight: 600;
    margin-bottom: 0;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 170px;
}

.third-section {
    background-color:#efe7eb;
    padding-top: 90px;
    padding-bottom: 90px;
}

.author, .quote {
    padding: 10px;
    max-width: 795px;
    margin: 0px auto;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color:#1f2937;

}

.author {
    font-weight: 900;
    font-size: 19px;
    color:black;
    margin-top: 10px;
    text-align: right;
    padding-right: 5px ;
}

.fourth-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.blue-section {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3882f6;
    max-width: 800px;
    padding: 40px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-para {
    max-width: 440px;
}

.right-button button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 15px;
    font-weight: 900;
    padding: 5px 25px;
    border-radius: 8px;
    border: 2px solid #f9faf8;
    max-width: 110px;
    
}

.left-para p {
    color:#f9faf8;
    margin: 0px;
}

.left-para .line-1 {
    font-weight: 600;
    font-size: 20px;
}

footer {
    background-color:#1f2937;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color:#efe7eb;
    text-align: center;
}






